@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');


#footer{
	width: 100% !important;
	background:  #021B79;
	color: white;	
}



#footer-content{
	width: 100%;
    height: 200px;
}

#footer-content a{
	color: white;
}

#footer-logo{
	font-family: 'Train One';
	font-weight: 400; 
	font-style: normal;
}